*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 194, 194);
}

.container
{
  border: 2px solid #898887;
  padding: 20px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 20px rgb(20, 20, 19);
}

button
{
  font-size: 1rem;
  border: none;
  background: transparent;
  color: rgb(255, 248, 56);
  border-radius: 50%; 
  background-color: rgb(57, 55, 55);
  height : 40px;
  width: 50px;
  margin: 15px 15px; 
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 1);
  cursor: pointer;
}  

input
{
  width: 320px;
  border: none;
  padding: 20px;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 0px 5px rgb(103, 105, 107);
  font-size: 40px;
  text-align: right;
  cursor : pointer;
  font-size: 2rem;
  color : blue;
}

input::placeholder
{
  color: rgb(52, 59, 255);
}

.equals
{
  background-color: rgb(229, 153, 11);
  font-size: 1.5rem;
  color: black;
}

.op
{
  color: rgb(68, 255, 68);
  font-size: 1.3rem;
}

.op1
{
  font-size: 1rem;
  color: rgb(255, 119, 52);

}

#inputBox
{
  height: 80px;
  font-size: 2rem;
  transition : all 7s;
}
